<div class="container">
  <form  class="was-validated" [formGroup]="loginForm" (ngSubmit)="signIn()">
<div class="row justify-content-center d-flex">
<div class="col-sm-4">
<div class="col input-effect-parent">
  <input class="input-effect" type="text" formControlName="username" placeholder="">
    <label>نام کاربری</label>
    <span class="focus-border">
      <i></i>
    </span>
</div>
<div class="col input-effect-parent">
  <input class="input-effect" formControlName="password" type="text" placeholder="">
    <label>پسورد</label>
    <span class="focus-border">
      <i></i>
    </span>
</div>
<button class="col-sm-12 btn btn-outline-dark btn-lg">
ورود
</button>
<!-- <button class="col-sm-6 btn btn-outline-info btn-lg">
  ثبت نام
  </button> -->
</div>
</div>
</form>
</div>
